menu "PCI Bus Support"

config DW_PCIE

config MVEBU_DW_PCIE
	bool "Enable MVEBU DesignWare PCIe 3 driver"
	default false
	select DW_PCIE
	help
	  Enable MVEBU PCIe 3 drivers based on designware IP.

endmenu
