config MVEBU_CCU
	bool "CCU address decoding driver"
	default n
	help
	  Choose this option to add support
	  for CCU address decoding driver.
	  This driver initialize the CCU windows
	  only.

config MVEBU_MBUS
	bool "MBUS address decoding driver"
	default n
	help
	  Choose this option to add support
	  for MBUS address decoding driver.
	  This driver initialize the MBUS windows
	  only.
