menu "MVEBU Board Support"

config DEVEL_BOARD
	bool "Support MVEBU development boards"
	depends on MVEBU
	default n
	---help---
	  Say Y here to add support for Marvell MVEBU
	  development boards.
	  You need this only if you work on a Marvell board.
	  If not, keep this off to reduce code size

config CUSTOMER_BOARD
	bool "Support MVEBU customer boards"
	depends on MVEBU
	default n
	help
	  Say Y here to add support for customer boards.
	  You need this only if you work on a spcific
	  customer board.
	  If not, keep this off to reduce code size

source "board/mvebu/armada8k/Kconfig"
source "board/mvebu/armada38x/Kconfig"
source "board/mvebu/armadalp/Kconfig"
endmenu
