if ARCH_CN10K

choice
	prompt "CN10K board select"
	optional

config TARGET_CN10K_A
	bool "Marvell CN10K SoC A"

config TARGET_CNF10K_A
	bool "Marvell CN10K Fusion SoC A"

config TARGET_CNF10K_B
	bool "Marvell CN10K Fusion SoC B"

endchoice

config SYS_SOC
	string
	default "cn10k"

config SYS_PCI_64BIT
	bool
	default y

endif
