if TARGET_ARMADA_3700

config SYS_CPU
	string
	default "armv8"

config SYS_BOARD
	string
	default "armada3700"

config SYS_VENDOR
	string
	default "mvebu"

config SYS_SOC
	string
	default "armada3700"

config SYS_CONFIG_NAME
	string
	default "armada3700"

config ARMV8_PSCI
	bool
	default y

config PALLADIUM
	bool "Support palladium emulation"
	default n
	help
	  Choose this option to enable
	  Palladium support.
	  There are certain differences
	  between palladium and real SoC,
	  like Clock and PHY, this should
	  not be enabled for real SoC.

endif

