
menuconfig DEVEL_BOARD
	bool "Support MVEBU development boards"
	depends on MVEBU
	default n
	---help---
	  Say Y here to add support for Marvell MVEBU
	  development boards.
	  You need this only of you work on a Marvell board.
	  If not, keep this off to reduce code size

if DEVEL_BOARD

	config ARMADA_38X_DB
	bool "Support Marvell Armada-38x DB board"
	default n
	help
	  Choose this option to add
	  support for Marvell Armada-38x
	  DB board. Say N unless you really
	  work on this board

	config APN_806_DB
	bool "Support Marvell APN-806 DB board"
	default n
	help
	  Choose this option to add
	  support for Marvell APN-806
	  DB board. Say N unless you really
	  work on this board

endif #DEVEL_BOARD
