menu "Development Board Utilities"
	depends on DEVEL_BOARD

config MVEBU_SAR
	bool "Support MVEBU SAR Utility"
	default y
	help
	  Say Y here to add support for Sample
	  at Reset Utility. You need this only if
	  you work on a Marvell development board.
	  If not, keep this off to reduce code size

config MULTI_DT_FILE
	bool "Support multi DT files in U-boot image"
	depends on OF_CONTROL
	default y
	select BOARD_CONFIG_EEPROM
	help
	  If this option is enabled, U-Boot will support different DT files.
	  Each FDT has a fixed size, so to choose between them in u-boot,
	  it will be executerd by a jump of this fix size.
	  The u-boot separates between the DTB by the flavor/board id

config BOARD_CONFIG_EEPROM
	bool "Support configuration EEPROM"
	default n
	help
	  If this option is enabled, U-Boot will initialize
	  configuration EEPROM on board.
	  It will be enabled once the CMD_MVEBU_BOX_INFO or
	  MULTI_DT_FILE is enabled

endmenu
