if ARCH_OCTEONTX3

choice
	prompt "OcteonTX3 board select"
	optional

config TARGET_OCTEONTX3_106XX
	bool "Marvell OcteonTX3 CN106XX"

endchoice

config SYS_SOC
	string
	default "octeontx3"

config SYS_PCI_64BIT
	bool
	default y

endif
