menu "Armada LP boards"
	depends on TARGET_ARMADA_LP

config ARMADA_LP_DB0
	bool "Support Marvell Armada-8K DB0 board"
	depends on DEVEL_BOARD
	default y
	help
	  Choose this option to add
	  support for Marvell Armada-LP
	  DB0 board. Say N unless you really
	  work on this board

config ARMADA_LP_DB1
	bool "Support Marvell Armada-8K DB1 board"
	depends on DEVEL_BOARD
	default y
	help
	  Choose this option to add
	  support for Marvell Armada-LP
	  DB1 board. Say N unless you really
	  work on this board

config ARMADA_LP_CUSTOMER
	bool "Support Marvell Armada-8K Customer board"
	depends on CUSTOMER_BOARD
	default y
	help
	  Choose this option to add
	  support for Marvell Armada-LP
	  Customer board. Say N unless you really
	  work on this board

endmenu
