
source "arch/arm/cpu/armv8/armada8k/Kconfig"
source "arch/arm/cpu/armv7/armada38x/Kconfig"
source "arch/arm/cpu/armv8/armadalp/Kconfig"

config MVEBU
	bool "Support MVEBU devices"
	depends on $SYS_VENDOR="mvebu"
	default y

config MVEBU_SECURE_BOOT
	bool "Trusted Boot Image format"
	depends on MVEBU
	default n
	help
	  Instructs the u-boot to create a trusted
	  boot image for MVEBU device. The trusted
	  boot image will boot normally on devices
	  that have secure mode option turned OFF
	  in their eFUSE. Once the secure boot mode
	  is selected by eFuse, the trusted boot
	  image will be verified according to secure
	  boot flow algorithm described in details
	  in appropriate device specification.

config MVEBU_SPL_DIFFRENT_BASE_ADDR
	bool "Use SPL different registers base address"
	depends on MVEBU
	default n
	help
	  Choose this option to enable setting of a different
	  registers base address at the SPL stage.

menu "IO support"

config MVEBU_NAND
	bool "NAND flash support"
	default n
	select CMD_NAND
	help
	  Choose this option to add support
	  for NAND driver, using pxa3xx nand
	  driver.
	  base address is configured under MVEBU_NAND_BASE

config MVEBU_SPI
	bool "SPI flash support"
	default n
	select CMD_SF
	select CMD_SPI
	help
	  Choose this option to add support
	  for SPI driver, using mvebu_spi
	  driver.
	  base address is configured under MVEBU_SPI_BASE


config MVEBU_PCI
	bool "PCIE support"
	default n
	select CMD_PCI
	help
	  Choose this option to add support
	  for PCI driver, using mvebu_pci
	  driver.
	  base address is configured under MVEBU_PCI_BASE

config MVEBU_MPP_BUS
	bool "MPP bus support"
	depends on (DEVEL_BOARD && MVEBU_PINCTL)
	default n
	help
	  Choose this option to add support
	  for the mpp-bus driver. This driver
	  is used for enabling or disabling mpp
	  buses at runtime

config MVEBU_UART_ARLP
	bool "UART support for ArmadaLP"
	default n
	help
	  Choose this option to add support
	  for UART driver on ArmadaLP, which
	  is not using COM1 NS16550 driver.
	  And base address is configured in FDT file.

config MVEBU_I2C
	bool "I2C support"
	default n
	help
	  Choose this option to add support
	  for I2C driver, using Marvell mvebu_i2c.c
	  driver.
	  base address is configured under MVEBU_I2C_BASE

config MVEBU_SPL_DDR_OVER_PCI_SUPPORT
	bool "DDR over PCIE support in SPL"
	depends on SPL
	default n
	select MVEBU_PCI
	help
	  To add this option need to edit the defconfig and add the following line:
	  +S:CONFIG_MVEBU_SPL_DDR_OVER_PCI_SUPPORT=y
	  Choose this option to add support
	  for DDR over PCIE support

endmenu


choice
	prompt "Flash for image"
	default MVEBU_SPI_BOOT

config MVEBU_NAND_BOOT
	bool "NAND flash boot"
	depends on MVEBU_NAND

config MVEBU_SPI_BOOT
	bool "SPI flash boot"
	depends on MVEBU_SPI

config MVEBU_NOR_BOOT
	bool "NOR flash boot"
	depends on MVEBU_NOR

endchoice

config ENV_IS_IN_BOOTDEV
	bool "Boot-time Environment Selection"
	depends on (MVEBU_SPI || MVEBU_NAND)
	help
	  Choose this option to add support
	  for boot-time environment selection.
	  the boot-time environment is decided
	  according to the boot source value
	  in sample at reset register.

config MVEBU_TOOLS_SUPPORT
	bool "MVEBU tools functions for U-Boot"
	default y
	help
	  Choose this option to add support
	  for different tools function for
	  U-Boot/SPL code

if MVEBU_TOOLS_SUPPORT
source "arch/arm/cpu/mvebu-common/tools/Kconfig"
endif
