

config MVEBU_SPL_DIFFRENT_BASE_ADDR
	bool "Use SPL different registers base address"
	depends on MVEBU && TARGET_ARMADA_38X
	default n
	help
	  Choose this option to enable setting of a different
	  registers base address at the SPL stage.

choice
	prompt "Flash for image"
	default MVEBU_SPI_BOOT
	depends on !ENV_IS_IN_BOOTDEV

config MVEBU_NAND_BOOT
	bool "NAND flash boot"
	depends on (MVEBU_NAND || NAND_PXA3XX)
	help
	  Enable boot from NAND

config MVEBU_SPI_BOOT
	bool "SPI flash boot"
	depends on MVEBU_SPI

config MVEBU_NOR_BOOT
	bool "NOR flash boot"
	depends on MVEBU_NOR
	help
	  Enable boot from NOR boot partition

config MVEBU_MMC_BOOT
	bool "eMMC flash boot"
	depends on (MVEBU_MMC || XENON_MMC)
	help
	  Enable boot from eMMC boot partition

config MVEBU_SATA_BOOT
	bool "SATA device boot"
	depends on MV_INCLUDE_SATA
	help
	  Enable boot from SATA device boot partition
	  For details about image placement on the
	  boot device please refer to the BootROM manual

endchoice

config SYS_MMC_ENV_PART
	int "eMMC Boot Partition"
	depends on MVEBU_MMC_BOOT
	default 1
	help
	  Set the eMMC boot partition to flash
	  the boot image to and for saving the
	  u-boot environment.
	  Partition 0 is used for the user data
	  and should not be selected for boot.
	  Partition 1 is named BOOT0 and partition 2
	  named BOOT1. These are the valid partitions
	  for usage as a boot device.

menu "NAND Boot Parameters"
depends on MVEBU_NAND_BOOT

config MVEBU_NAND_BLOCK_SIZE
	int "NAND Boot Page Size (KB)"
	default 256
	help
	  Set the nand boot device block size (in KB).
	  This parameter is used by Bootrom in order to
	  determine the location of bad blocks
	  markers.

config MVEBU_NAND_CELL_TYPE
	string "NAND Boot Cell Type (SLC/MLC)"
	default SLC
	help
	  Set the boot nand cell type (0 for SLC,
	  1 for MLC).
	  This parameter is used by bootrom in order
	  to determine the bad block marker location
	  within the block.
endmenu

config ENV_IS_IN_BOOTDEV
	bool "Boot-time Environment Selection"
	depends on (MVEBU_SPI || MVEBU_NAND)
	help
	  Choose this option to add support
	  for boot-time environment selection.
	  the boot-time environment is decided
	  according to the boot source value
	  in sample at reset register.

config MVEBU_TOOLS_SUPPORT
	bool "MVEBU tools functions for U-Boot"
	default y
	help
	  Choose this option to add support
	  for different tools function for
	  U-Boot/SPL code

if MVEBU_TOOLS_SUPPORT
source "arch/arm/cpu/mvebu-common/tools/Kconfig"
endif

config MVEBU_SYS_INFO
	bool "System info transmitted to u-boot"
	default y
	help
	  Choose this option to add support
	  for system information in u-boot.
	  If you want to transfer information
	  from spl to u-boot, you need to choose
	  this option.
