menu "Library routines"

config CC_OPTIMIZE_LIBS_FOR_SPEED
	bool "Optimize libraries for speed"
	help
	  Enabling this option will pass "-O2" to gcc when compiling
	  under "lib" directory.

	  If unsure, say N.

config HAVE_PRIVATE_LIBGCC
	bool

config USE_PRIVATE_LIBGCC
	bool "Use private libgcc"
	depends on HAVE_PRIVATE_LIBGCC
	help
	  This option allows you to use the built-in libgcc implementation
	  of U-boot instead of the one privided by the compiler.
	  If unsure, say N.

config SYS_HZ
	int
	default 1000
	help
	  The frequency of the timer returned by get_timer().
	  get_timer() must operate in milliseconds and this option must be
	  set to 1000.

config SHA256
	bool "hash_256"
	default n
	help
	  sha256 - Calculate hash values with hash_256 algorithm.
	  Enabling this option will use sha256 to calculate hash value
	  when codes try to call sha256_start,sha256_update and
	  sha256_finish functions.


config SHA1
	bool "hash_160"
	default n
	help
	  sha1 - Caculate hash values with hash_160 algorithm.
	  Enabling this option will use sha1 to calculate hash value
	  when codes try to call sha1_start,sha1_update and
	  sha1_finish functions.

endmenu
