*.o
*.elf
*.dis
*.raw
*.srec
*.bin
*.depend
*libpolarssl.a
*.a
*.rej
*.orig
*.su
setparams
/bmp_logo
/envcrc
/gen_eth_addr
/img2srec
/mkenvimage
/mkimage
/mpc86x_clk
/mxsboot
/ncb
/ncp
/ubsha1
/inca-swap-bytes
/*.exe
/easylogo/easylogo
/env/crc32.c
/env/fw_printenv
/gdb/gdbcont
/gdb/gdbsend
/bin_hdr/src_ddr/ddr3lib/
