if TARGET_CN10K_A || TARGET_CN10K_B || TARGET_CNF10K_A || TARGET_CNF10K_B

config SYS_VENDOR
	string
	default	"Marvell"

config SYS_BOARD
	string
	default "cn10k"

config SYS_CONFIG_NAME
	default "cn10k_common"

endif
