
/dts-v1/;

#include "armada-lp.dtsi"

/ {
	model = "DB0-MV-ARMADALP";
	compatible = "marvell,armada-lp-db0", "marvell,armada-lp";

	soc {
		internal-regs {
			serial: serial@12000 {
				status = "okay";
			};
			spi0: spi@10600 {
				status = "okay";
			};
			neta0: neta@30000 {
				status = "okay";
			};
			neta1: neta@40000 {
				status = "okay";
			};
		};
	};
};
