// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright (C) 2018 Marvell International Ltd.
 */

#include "armada-8040.dtsi" /* include SoC device tree */
#include "armada-8040-dev-info.dtsi"

/ {
	compatible = "marvell,armada-80x0-db", "marvell,armada-8040";
	model = "DB-ARMADA-80x0";

	cp0 {
		config-space {
			i2c@701000 {
				expander0: pca953x@21 {
					compatible = "nxp,pca9555";
					#gpio-cells = <2>;
					reg = <0x21>;
					status = "okay";
				};
				expander1: pca953x@25 {
					compatible = "nxp,pca9555";
					#gpio-cells = <2>;
					reg = <0x25>;
					status = "okay";
				};
			};

			cp0_reg_usb3_vbus0:cp0_usb3_vbus@0 {
				compatible = "regulator-fixed";
				regulator-min-microvolt = <5000000>;
				regulator-max-microvolt = <5000000>;
				startup-delay-us = <100000>;
				regulator-force-boot-off;
				gpio = <&expander0 0 GPIO_ACTIVE_HIGH>;
			};

			cp0_reg_usb3_vbus1: cp0_usb3_vbus@1 {
				compatible = "regulator-fixed";
				regulator-min-microvolt = <5000000>;
				regulator-max-microvolt = <5000000>;
				startup-delay-us = <100000>;
				regulator-force-boot-off;
				gpio = <&expander0 1 GPIO_ACTIVE_HIGH>;
			};

			/*
			 * Even though this node used for enable/disable
			 * cp1 usb vbus-supply, we use "cp0" prefix since
			 * the expander is connected to cp0.
			 */
			cp0_reg_usb3_vbus2: cp0_usb3_vbus@2 {
				compatible = "regulator-fixed";
				regulator-min-microvolt = <5000000>;
				regulator-max-microvolt = <5000000>;
				startup-delay-us = <100000>;
				regulator-force-boot-off;
				gpio = <&expander1 0 GPIO_ACTIVE_HIGH>;
			};

			cp0_usb3_0: usb3@500000 {
				vbus-supply = <&cp0_reg_usb3_vbus0>;
				vbus-disable-delay = <500>;
			};
			cp0_usb3_1: usb3@510000 {
				vbus-supply = <&cp0_reg_usb3_vbus1>;
				vbus-disable-delay = <500>;
			};
		};
	};

	cp1 {
		config-space {

			cp1_usb3_0: usb3@500000 {
				vbus-supply = <&cp0_reg_usb3_vbus2>;
				vbus-disable-delay = <500>;
			};
		};
	};
};
