/*
 * ***************************************************************************
 * Copyright (C) 2015 Marvell International Ltd.
 * ***************************************************************************
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, either version 2 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 * ***************************************************************************
 */

/dts-v1/;

#include "armada-80x0-db.dtsi" /* include initial Board device tree */
/ {
	model = "DB-ARMADA-80x0 (SPI-Default-10G)";
	compatible = "marvell,armada-80x0-db", "marvell,armada-80x0";
	fdt_config_id = <1>;
	board_id = <0x13>;

	/*
	This is the default device tree for Armada 8040-DB board,
	All board interface settings are reflected in armada-80x0-db.dtsi
	*/
};
