// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright (C) 2018 Marvell International Ltd.
 */

#include "armada-70x0.dtsi" /* include SoC device tree */

/ {
	model = "DB-ARMADA-70x0";
	compatible = "marvell,armada-70x0-db", "marvell,armada-70x0";

	cp110-master {
		config-space {
			i2c@701000 {
				expander0: pca953x@21 {
					compatible = "nxp,pca9555";
					#gpio-cells = <2>;
					reg = <0x21>;
					status = "okay";
				};
			};
		};
	};
};
