/*
 * Copyright (C) 2017 Marvell Technology Group Ltd.
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPLv2 or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This library is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License as
 *     published by the Free Software Foundation; either version 2 of the
 *     License, or (at your option) any later version.
 *
 *     This library is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 * Or, alternatively,
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use,
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 */

#include "armada-70x0.dtsi" /* include SoC device tree */
#include "armada-70x0-dev-info.dtsi"

/ {
	model = "Marvell Armada 3900 Validation Development board(CP NOR)";
	compatible = "marvell,armada7040", "marvell,armada-ap806-quad",
		     "marvell,armada-ap806", "marvell,armada3900-vd";

	aliases {
		i2c0 = &cp0_i2c0;
		spi0 = &ap_spi0;
		i2c1 = &ap_i2c0;
		spi1 = &cp0_spi1;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory@00000000 {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x80000000>;
	};

	cp0 {
		config-space {
			cp0_reg_usb3_vbus0: cp0_usb3_vbus@0 {
				compatible = "regulator-fixed";
				pinctrl-names = "default";
				pinctrl-0 = <&cp0_xhci0_vbus_pins>;
				regulator-name = "cp0-xhci0-vbus";
				regulator-min-microvolt = <5000000>;
				regulator-max-microvolt = <5000000>;
				startup-delay-us = <100000>;
				enable-active-high;
				regulator-force-boot-off;
				gpio = <&cp0_gpio1 12 GPIO_ACTIVE_HIGH>;
			};

			cp0_reg_usb3_vbus1: cp0_usb3_vbus@1 {
				compatible = "regulator-fixed";
				pinctrl-names = "default";
				pinctrl-0 = <&cp0_xhci1_vbus_pins>;
				regulator-name = "cp0-xhci1-vbus";
				regulator-min-microvolt = <5000000>;
				regulator-max-microvolt = <5000000>;
				startup-delay-us = <100000>;
				enable-active-high;
				regulator-force-boot-off;
				gpio = <&cp0_gpio1 13 GPIO_ACTIVE_HIGH>;
			};
		};
	};
};

/*
 * AP related configuration
 */
&ap_pinctl {
		/* MPP Bus:
		 * SPI   [0-3]
		 * I2C   [4-5]
		 * UART0 [11,19]
		 */
		/*   0 1 2 3 4 5 6 7 8 9 */
	pin-func = < 3 3 3 3 3 3 0 0 0 0
		     0 3 0 0 0 0 0 0 0 3 >;
};

&ap_i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&ap_i2c0_pins>;
	status = "okay";
};

&ap_spi0 {
	status = "okay";
};

&uart0 {
	status = "okay";
};

&thermal {
	gain = <394>;
	offset = <128900>;
	divisor = <1000>;
};

/*
 * CP related configuration
 */
&cp0_pinctl {
		/* MPP Bus:
		 *   SPI1	[13-16]
		 *   SMI	[32,34]
		 *   XSMI	[35-36]
		 *   I2C0	[37-38]
		 *   USB	[44-45]
		 *   UART1	[46-47,49,58]
		 *   IHB	[56-57]
		 *   UART0	[59-62]
		 */
		/*   0   1   2   3   4   5   6   7   8   9 */
	pin-func = < 0   0   0   0   0   0   0   0   0   0
		     0   0   0   3   3   3   3   0   0   0
		     0   0   0   0   0   0   0   0   0   0
		     0   0   7   0   7   7   7   2   2   0
		     0   0   0   0   0   0   7   7   0   7
		     0   0   0   0   0   0   0   0   7   7
		     7   7   7>;
};

&cp0_spi1 {
	pinctrl-names = "default";
	pinctrl-0 = <&cp0_spi0_pins>;
	status = "okay";
};

&cp0_pinctl {
	cp0_xhci0_vbus_pins: cp0-xhci0-vbus-pins {
		marvell,pins = <44>;
		marvell,function = <0>;
	};

	cp0_xhci1_vbus_pins: cp0-xhci1-vbus-pins {
		marvell,pins = <45>;
		marvell,function = <0>;
	};

	cp0_mochi_reset_pins: cp0-mochi-reset-pins {
		marvell,pins = <56>;
		marvell,function = <0>;
	};

	cp0_mochi_enable_pins: cp0-mochi-enable-pins {
		marvell,pins = <57>;
		marvell,function = <0>;
	};
};

&cp0_i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&cp0_i2c0_pins>;
	status = "okay";
};

&cp0_utmi0 {
	status = "okay";
};

&cp0_utmi1 {
	status = "okay";
};

&cp0_usb3_0 {
	status = "okay";
	vbus-supply = <&cp0_reg_usb3_vbus0>;
	vbus-disable-delay = <500>;
};

&cp0_usb3_1 {
	status = "okay";
	vbus-supply = <&cp0_reg_usb3_vbus1>;
	vbus-disable-delay = <500>;
};

&cp0_pcie0 {
	status = "okay";
	ranges =
		/* downstream I/O */
		<0x81000000 0 0xf7000000 0  0xf7000000 0 0x10000
		/* non-prefetchable memory */
		0x82000000 0 0xf6000000 0  0xf6000000 0 0xf00000>;
};

&cp0_pcie2 {
	status = "okay";
	ranges =
		/* downstream I/O */
		<0x81000000 0 0xf7020000 0  0xf7020000 0 0x10000
		/* non-prefetchable memory */
		0x82000000 0 0xf8000000 0  0xf8000000 0 0xf00000>;
};

&cp0_comphy {
	phy0 {
		phy-type = <COMPHY_TYPE_PEX0>;
		phy-speed = <COMPHY_SPEED_5G>;
	};

	phy1 {
		phy-type = <COMPHY_TYPE_PEX0>;
		phy-speed = <COMPHY_SPEED_5G>;
	};

	phy2 {
		phy-type = <COMPHY_TYPE_SGMII0>;
		phy-speed = <COMPHY_SPEED_1_25G>;
	};

	phy3 {
		phy-type = <COMPHY_TYPE_SGMII1>;
		phy-speed = <COMPHY_SPEED_1_25G>;
	};

	phy4 {
		phy-type = <COMPHY_TYPE_USB3_HOST1>;
		phy-speed = <COMPHY_SPEED_5G>;
	};

	phy5 {
		phy-type = <COMPHY_TYPE_PEX2>;
		phy-speed = <COMPHY_SPEED_5G>;
	};
};

&cp0_xmdio {
	status = "okay";
	phy0: ethernet-phy@0 {
		reg = <0>;
	};
	phy1: ethernet-phy@1 {
		reg = <1>;
	};
};

&cp0_ethernet {
	status = "okay";
};

&cp0_eth0 {
	status = "okay";
	phy-mode = "sgmii";
	phy = <&phy0>;
};

&cp0_eth1 {
	status = "okay";
	phy-mode = "sgmii";
	phy = <&phy1>;
};
