// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright (C) 2018 Marvell International Ltd.
 */

#include "armada-70x0.dtsi" /* include SoC device tree */

/ {
	model = "DB-ARMADA-70x0";
	compatible = "marvell,armada-70x0-db", "marvell,armada-70x0";
};
