/*
 * ***************************************************************************
 * Copyright (C) 2015 Marvell International Ltd.
 * ***************************************************************************
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, either version 2 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 * ***************************************************************************
 */

/dts-v1/;

#include "armada-70x0.dtsi" /* include SoC device tree */
#include "armada-70x0-dev-info.dtsi" /* include Marvell specific info (S@R, MPP cmd) */

/ {
	model = "DB-ARMADA-70x0 (SPI-KR)";
	compatible = "marvell,armada-70x0-db", "marvell,armada-70x0";
	fdt_config_id = <3>;
	board_id = <0x12>;

	ap-806 {
		internal-regs {
			spi0: spi@510600 {
				status = "disabled";
			};
			i2c0: i2c@511000 {
				status = "disabled";
			};
			pinctl: pinctl@6F4000 {
					/* MPP Bus:
						SDIO  [0-10]
						UART0 [11,19]
					*/
					  /* 0 1 2 3 4 5 6 7 8 9 */
				pin-func = < 1 1 1 1 1 1 1 1 1 1
					     1 3 0 0 0 0 0 0 0 3>;
			};
		};
	};
	cp110-master {
		internal-regs {
			spi0@700600 {
				status = "disabled";
			};
			spi1@700680 {
				status = "okay";
			};
			i2c@701000 {
				status = "okay";
			};
			i2c@211000 { /* MSS_i2c0 */
				status = "disabled";
			};
			i2c@211100 { /* MSS_i2c1 */
				status = "disabled";
			};
			usb3@500000 {
				status = "disabled";
			};
			usb3@510000 {
				status = "disabled";
			};
			sata@540000 {
				status = "okay";
			};
			mmc@780000 {
				status = "disabled";
			};
			pcie-controller {
				pcie@0,0 {
					status = "okay";
				};
				pcie@1,0 {
					status = "okay";
				};
				pcie@2,0 {
					status = "okay";
				};
			};
			nand@720000 {
				status = "disabled";
			};

			pinctl@440000 {
					/* MPP Bus:
					   RGMII0[0-11]
					   SPI   [13-16]
					   SATA1 [28]
					   UART0 [29-30]
					   SMI	 [32,34]
					   SATA0 [36]
					   I2C	 [37-38]
					   UART1 [40-41]
					   RGMII1[44-55]
					   SD	 [56-62]
					*/
					/*   0   1   2   3   4   5   6   7   8   9 */
				pin-func = < 3   3   3   3   3   3   3   3   3   3
					     3   3   0   3   3   3   3   0   0   0
					     0   0   0   0   0   0   0   0   9   0xA
					     0xA 0   7   0   7   7   6   2   2   0
					     0   0   0   0   1   1   1   1   1   1
					     1   1   1   1   1   1   0xE 0xE 0xE 0xE
					     0xE 0xE 0xE>;
			};

			comphy {
				/* Serdes Configuration:
					Lane 0: PEX0x1
					Lane 1: SATA0
					Lane 2: 10GKR
					Lane 3: SATA1
					Lane 4: PEX1x1
					Lane 5: PEX2x1
				*/
				phy0 {
					phy-type = <PHY_TYPE_PEX0>;
				};
				phy1 {
					phy-type = <PHY_TYPE_SATA0>;
				};
				phy2 {
					phy-type = <PHY_TYPE_KR>;
				};
				phy3 {
					phy-type = <PHY_TYPE_SATA1>;
				};
				phy4 {
					phy-type = <PHY_TYPE_PEX1>;
				};
				phy5 {
					phy-type = <PHY_TYPE_PEX2>;
				};
			};
			mdio {
				#address-cells = <1>;
				#size-cells = <0>;
				phy2: ethernet-phy@2 {
					reg = <0>;
				};
				phy3: ethernet-phy@3 {
					reg = <1>;
				};
			};
			gop {
				mac0 {
					phy-mode = "kr"; /* lane-2 */
					status = "okay";
				};
				mac2 {
					phy-mode = "rgmii"; /* rgmii-0 */
					phy = <&phy2>;
					status = "okay";
				};
				mac3 {
					phy-mode = "rgmii"; /* rgmii-1 */
					phy = <&phy3>;
					status = "okay";
				};
			};
			ppv22@000000 {
				eth0@010000 {
					status = "okay";
				};
				eth1@020000 {
					status = "okay";
				};
				eth2@030000 {
					status = "okay";
				};
			};
		};
	};
};
