
/dts-v1/;

/ {
	model = "Marvell Armada 385 Development Board";
	compatible = "marvell,a385-db", "marvell,armada385", "marvell,armada38x";

	#address-cells = <2>;
	#size-cells = <1>;

	memory {
		device_type = "memory";
		reg = <0 0x00000000 0x10000000>; /* 256 MB */
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;
		cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-a9";
			reg = <0>;
		};
		cpu@1 {
			device_type = "cpu";
			compatible = "arm,cortex-a9";
			reg = <1>;
		};
	};

	soc {
		compatible = "marvell,armada380-mbus", "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		internal-regs {
			compatible = "marvell,internal-regs";
			#address-cells = <1>;
			#size-cells = <1>;
			reg = <0xf1000000 0x4>;

			tclk: tclk {
				compatible = "marvell,tclk";
				reg = <0x18600 0x4>;
			};

			i2c0: i2c@11000 {
				compatible = "marvell,mvebu-i2c";
				reg = <0x11000 0x4>;
				clock = <&tclk>;
				status = "okay";
			};

			i2c1: i2c@11100 {
				compatible = "marvell,mvebu-i2c";
				reg = <0x11100 0x4>;
				clock = <&tclk>;
				status = "disable";
			};

			pinctl: pinctl@18000 {
				compatible = "marvell,mvebu-pinctl";
				bank-name ="armada-380";
				reg = <0x18000 0x24>;
				pin-count = <64>;
				max-func = <7>;
			};

			spi0: spi@10600 {
				compatible = "marvell,orion-spi";
				reg = <0x10600 0x50>;
				#address-cells = <1>;
				#size-cells = <0>;
				spi-max-frequency = <20971520>;
				clock = <&tclk>;
				status = "okay";
				cpol-cs-bitmap = <1>; /*bit i is set if the
							cs-i SCK idles high */
			};

			spi1: spi@10680 {
				compatible = "marvell,orion-spi";
				reg = <0x10680 0x50>;
				#address-cells = <1>;
				#size-cells = <0>;
				status = "disabled";
			};
		};
	};

	sar {
		compatible = "marvell,sample-at-reset";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x40 0x44 0x48>;
		chip_count = <3>;
		bit_width = <5>;

		cpufreq {
			key = "cpufreq";
			description = "CPU frequency";
			start-bit = <0>;
			bit-length = <4>;
			option-cnt = <2>;
			options = "0x0", "1800/900",
				"0x1", "1600/800";
			default = <0x1>;
			status = "okay";
		};
		bootsrc {
			key = "bootsrc";
			description = "Boot source options";
			start-bit = <4>;
			bit-length = <4>;
			option-cnt = <3>;
			options = "0x0", "NAND",
				"0x1", "SPI",
				"0x2", "NOR";
			default = <0x1>;
			status = "okay";
		};
	};
};

&pinctl {
	          /* 0 1 2 3 4 5 6 7 8 9 */
	pin-func = < 1 1 1 1 1 1 1 1 1 1
		     1 1 1 1 1 1 1 1 0 6
		     6 2 1 1 1 1 0 2 2 2
		     2 2 2 0 0 0 0 2 2 2
		     2 2 0 2 4 0 0 4 5 5
		     5 0 5 5 5 5 0 5 5 5
		     0 0 0 0>;
};

