/*
 * ***************************************************************************
 * Copyright (C) 2015 Marvell International Ltd.
 * ***************************************************************************
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, either version 2 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 * ***************************************************************************
 */

map-iob {
	compatible = "marvell,mvebu-iob";
	reg = <0x190000 0x50>;
	max-win = <24>;
	windows = <0x0 0xf8000000 0x0 0x1000000 0x2 /* PEX1_X1 window */
		0x0 0xf9000000 0x0 0x1000000 0x5 /* NAND window */>;
};

spi@700600 {
	compatible = "marvell,orion-spi";
	reg = <0x700600 0x50>;
	spi-max-frequency = <10000000>;
	clock = <&tclk>;
	cpol-cs-bitmap = <1>; /* bit i is set if the CPOL of
				CS-i is enabled or not */
	status = "disable";
};

pinctl@440000 {
	compatible = "marvell,mvebu-pinctl";
	bank-name ="cp-110";
	reg = <0x440000 0x10>;
	pin-count = <63>;
	max-func = <0xf>;
};
