/*
 * ***************************************************************************
 * Copyright (C) 2015 Marvell International Ltd.
 * ***************************************************************************
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, either version 2 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 * ***************************************************************************
 */

/ {
	model = "Marvell Armada CPN-110 Slave";

	cp110-slave {
		compatible = "marvell,armada-cpn110-slave";
		#address-cells = <1>;
		#size-cells = <1>;

		internal-regs {
			compatible = "marvell,internal-regs";
			ranges = <0x0000 0xf4000000 0x1000000>;
			#address-cells = <1>;
			#size-cells = <1>;

			#include "cp110.dtsi"
		};
	};

	/* Override the above configurations taken from cp110.dtsi */
	cp110-slave {
		internal-regs {
			map-iob {
				windows = <0x0 0xfb000000 0x0 0x1000000 0x2 /* PEX1_X1 window */
					0x0 0xfc000000 0x0 0x1000000 0x3 /* PEX2_X1 window */
					0x0 0xfa000000 0x0 0x1000000 0x4 /* PEX0_X4 window */>;
			};

			pcie-controller {
				pcie@0,0 {
					mem = <0xfa000000 0x1000000>;
				};
				pcie@1,0 {
					mem = <0xfb000000 0x1000000>;
				};
				pcie@2,0 {
					mem = <0xfc000000 0x1000000>;
				};
			};

			gop {
				emac4: mac0 {
					mac-address = [00 00 00 00 00 04];
					port-id = <0>; /* gop_port_id */
				};
				emac6: mac2 {
					mac-address = [00 00 00 00 00 06];
					port-id = <2>; /* gop_port_id */
				};
				emac7: mac3 {
					mac-address = [00 00 00 00 00 07];
					port-id = <3>; /* gop_port_id */
				};
			};
			ppv22@000000 {
				eth0@010000 {
					emac-data = <&emac4>;
				};
				eth1@020000 {
					emac-data = <&emac6>;
				};
				eth2@030000 {
					emac-data = <&emac7>;
				};
			};
		};
	};
};
