CONFIG_SPL=y
CONFIG_SYS_EXTRA_OPTIONS="ARM64"
+S:CONFIG_ARM=y
+S:CONFIG_TARGET_ARMADA_8K=y
+S:CONFIG_AP806_Z_SUPPORT=y
CONFIG_MVEBU_MPP_BUS=y
+S:CONFIG_MVEBU_SPL_DDR_OVER_PCI_SUPPORT=y
+S:CONFIG_MVEBU_SPL_SAR_DUMP=y
+S:CONFIG_DEVEL_BOARD=y
+S:# CONFIG_MULTI_DT_FILE is not set
CONFIG_CMD_BOOTD=y
CONFIG_CMD_RUN=y
CONFIG_CMD_EDITENV=y
CONFIG_CMD_SAVEENV=y
CONFIG_CMD_MEMORY=y
CONFIG_CMD_MEMTEST=y
CONFIG_CMD_LOADB=y
CONFIG_CMD_NAND=y
CONFIG_CMD_ECHO=y
CONFIG_CMD_NET=y
CONFIG_CMD_PING=y
CONFIG_CMD_MII=y
CONFIG_CMD_TIME=y
CONFIG_CMD_MISC=y
CONFIG_CMD_TIMER=y
CONFIG_CMD_MVEBU_SAR=y
CONFIG_CMD_MVEBU_MPP=y
CONFIG_CMD_MVEBU_BUBT=y
CONFIG_CMD_MVEBU_TSEN=y
+S:CONFIG_OF_CONTROL=y
+S:CONFIG_OF_EMBED=y
+S:CONFIG_DEFAULT_DEVICE_TREE="armada-7040-rz-db_dop"
CONFIG_NAND_PXA3XX=y
CONFIG_SCSI_AHCI_PLAT=y
CONFIG_CP110_SATA_ADDR_WA=y
CONFIG_MVEBU_MDIO=y
CONFIG_ENC28J60=y
CONFIG_PHYLIB=y
CONFIG_PHY_MARVELL=y
+S:CONFIG_SYS_NS16550=y
CONFIG_MVEBU_I2C=y
CONFIG_MVEBU_SPI=y
CONFIG_MVEBU_PINCTL=y
+S:CONFIG_MVEBU_COMPHY_SUPPORT=y
CONFIG_MVEBU_THERMAL_SENSOR=y
CONFIG_MVEBU_THERMAL_SENSOR_28NM_V2=y
# CONFIG_MVEBU_SPL_DDR_SUPPORT is not set
CONFIG_USB=y
CONFIG_USB_XHCI_HCD=y
