CONFIG_SYS_EXTRA_OPTIONS="ARM64"
CONFIG_ARM=y
CONFIG_TARGET_ARMADA_8K=y
CONFIG_CMD_BOOTD=y
CONFIG_CMD_RUN=y
CONFIG_CMD_EDITENV=y
CONFIG_CMD_SAVEENV=y
CONFIG_CMD_MEMORY=y
CONFIG_CMD_MEMTEST=y
CONFIG_CMD_TIME=y
CONFIG_CMD_MISC=y
CONFIG_CMD_TIMER=y
CONFIG_OF_CONTROL=y
CONFIG_OF_EMBED=y
CONFIG_DEFAULT_DEVICE_TREE="apn-810-pd"
# CONFIG_MVEBU_PHY_INDIRECT is not set
CONFIG_MVEBU_CCU=y
CONFIG_MVEBU_RFU=y
CONFIG_SYS_NS16550=y
# CONFIG_MVEBU_EFUSE_SUPPORT is not set
CONFIG_DEVEL_BOARD=y
# CONFIG_MVEBU_SAR is not set
# CONFIG_MULTI_DT_FILE is not set
CONFIG_PALLADIUM=y
# CONFIG_MVEBU_TOOLS_SUPPORT is not set
