CONFIG_SPL=y
CONFIG_SYS_EXTRA_OPTIONS="ARM64"
+S:CONFIG_ARM=y
+S:CONFIG_TARGET_ARMADA_LP=y
+S:CONFIG_MVEBU_A3700_IO_ADDR_DEC=y
+S:CONFIG_MVEBU_A3700_MISC_INIT=y
+S:CONFIG_MVEBU_A3700_CLOCK=y
+S:CONFIG_MVEBU_UART_ARLP=y
CONFIG_XENON_MMC=y
CONFIG_MVEBU_MPP_BUS=y
CONFIG_MVEBU_PINCTL=y
+S:CONFIG_DEVEL_BOARD=y
+S:# CONFIG_MULTI_DT_FILE is not set
CONFIG_CMD_BDI=y
CONFIG_CMD_BOOTD=y
CONFIG_CMD_RUN=y
CONFIG_CMD_EDITENV=y
CONFIG_CMD_SAVEENV=y
CONFIG_CMD_MEMORY=y
CONFIG_CMD_ECHO=y
CONFIG_CMD_NET=y
CONFIG_CMD_PING=y
CONFIG_CMD_MII=y
CONFIG_CMD_MVEBU_MPP=y
CONFIG_CMD_MVEBU_BUBT=y
+S:CONFIG_OF_CONTROL=y
+S:CONFIG_OF_EMBED=y
+S:CONFIG_DEFAULT_DEVICE_TREE="armada-lp-db"
CONFIG_MVEBU_ADVK_PCIE=y
CONFIG_MV_INCLUDE_SATA=y
CONFIG_SCSI_AHCI_PLAT=y
+S:CONFIG_MVEBU_MBUS=y
+S:CONFIG_MVEBU_MBUS_SPL_ONLY=y
CONFIG_MVNETA=y
CONFIG_MVEBU_NETA_BYPASS_DEC_WIN=y
CONFIG_PHY_MARVELL=y
+S:CONFIG_I2C_MV=y
+S:# CONFIG_I2C_MV_PAD_REG is not set
CONFIG_MVEBU_SPI=y
CONFIG_USB=y
CONFIG_USB_XHCI_HCD=y
+S:CONFIG_MVEBU_COMPHY_SUPPORT=y
+S:CONFIG_MVEBU_MK6_SUPPORT=y
+S:CONFIG_MVEBU_DLL_TUNE_SUPPORT=y
