CONFIG_SPL=y
+S:CONFIG_ARM=y
+S:CONFIG_TARGET_ARMADA_38X=y
+S:CONFIG_MVEBU_SPL_DIFFRENT_BASE_ADDR=y
CONFIG_MVEBU_MPP_BUS=y
+S:CONFIG_DEVEL_BOARD=y
+S:# CONFIG_MULTI_DT_FILE is not set
CONFIG_CMD_BDI=y
CONFIG_CMD_BOOTD=y
CONFIG_CMD_RUN=y
CONFIG_CMD_EDITENV=y
CONFIG_CMD_SAVEENV=y
CONFIG_CMD_MEMORY=y
CONFIG_CMD_MEMTEST=y
CONFIG_CMD_LOADB=y
CONFIG_CMD_LOADS=y
CONFIG_CMD_FLASH=y
CONFIG_CMD_ECHO=y
CONFIG_CMD_NET=y
CONFIG_CMD_DHCP=y
CONFIG_CMD_NFS=y
CONFIG_CMD_PING=y
CONFIG_CMD_TIME=y
CONFIG_CMD_MISC=y
CONFIG_CMD_TIMER=y
CONFIG_CMD_MVEBU_MPP=y
CONFIG_CMD_MVEBU_BUBT=y
CONFIG_CMD_MVEBU_TSEN=y
+S:CONFIG_OF_CONTROL=y
+S:CONFIG_OF_EMBED=y
+S:CONFIG_DEFAULT_DEVICE_TREE="armada-385-db"
CONFIG_FDT_SIZE=0x1C00
CONFIG_MVEBU_PCI=y
CONFIG_MVEBU_NAND=y
CONFIG_NAND_PXA3XX=y
CONFIG_MVEBU_MBUS=y
+S:CONFIG_SYS_NS16550=y
+S:CONFIG_MVEBU_I2C=y
+S# CONFIG_MVEBU_I2C_BRIDGE is not set
CONFIG_MVEBU_SPI=y
CONFIG_MVEBU_PINCTL=y
+S:CONFIG_MVEBU_COMPHY_SUPPORT=y
CONFIG_MVEBU_THERMAL_SENSOR=y
