CONFIG_SYS_EXTRA_OPTIONS="ARM64"
CONFIG_ARM=y
CONFIG_TARGET_ARMADA_3700=y
CONFIG_MVEBU_A3700_IO_ADDR_DEC=y
CONFIG_MVEBU_A3700_CLOCK=y
CONFIG_MVEBU_MPP_BUS=y
CONFIG_MVEBU_A3700_UART=y
CONFIG_XENON_MMC=y
CONFIG_DEVEL_BOARD=y
CONFIG_CMD_BDI=y
CONFIG_CMD_BOOTD=y
CONFIG_CMD_RUN=y
CONFIG_CMD_EDITENV=y
CONFIG_CMD_SAVEENV=y
CONFIG_CMD_MEMORY=y
CONFIG_CMD_ECHO=y
CONFIG_CMD_NET=y
CONFIG_CMD_PING=y
CONFIG_CMD_MII=y
CONFIG_CMD_MISC=y
CONFIG_CMD_GPIO=y
CONFIG_CMD_MVEBU_MPP=y
CONFIG_CMD_MVEBU_FDT_CONFIG=y
CONFIG_CMD_MVEBU_BUBT=y
CONFIG_CMD_MVEBU_HW_INFO=y
CONFIG_OF_CONTROL=y
CONFIG_OF_EMBED=y
CONFIG_DEFAULT_DEVICE_TREE="armada-3700-ddr3-db"
CONFIG_FDT_SIZE=0x1C00
CONFIG_DM=y
CONFIG_MVEBU_ADVK_PCIE=y
CONFIG_MV_INCLUDE_SATA=y
CONFIG_SCSI_AHCI_PLAT=y
CONFIG_MVEBU_MBUS=y
CONFIG_MVNETA=y
CONFIG_MVEBU_NETA_BYPASS_DEC_WIN=y
CONFIG_PHY_MARVELL=y
CONFIG_I2C_MV=y
# CONFIG_I2C_MV_PAD_REG is not set
CONFIG_MVEBU_SPI=y
CONFIG_MVEBU_PINCTL=y
CONFIG_MVEBU_GPIO=y
CONFIG_USB=y
CONFIG_USB_XHCI_HCD=y
CONFIG_MVEBU_COMPHY_SUPPORT=y
CONFIG_SHA256=y
CONFIG_SHA1=y
CONFIG_MVEBU_BOOTMODE_SWITCH_SUPPORT=y
CONFIG_MVEBU_MBUS_SKIP_DRAM_WIN=y
CONFIG_MVEBU_A3700_PM=y
