CONFIG_SPL=y
CONFIG_SYS_EXTRA_OPTIONS="ARM64"
+S:CONFIG_ARM=y
+S:CONFIG_TARGET_ARMADA_LP=y
CONFIG_MVEBU_SPI=y
CONFIG_MVNETA=y
CONFIG_MVEBU_NETA_BYPASS_DEC_WIN=y
CONFIG_I2C_MV=y
CONFIG_I2C_MV_PAD_REG=n
+S:CONFIG_MVEBU_UART_ARLP=y
+S:CONFIG_DEVEL_BOARD=y
+S:CONFIG_SPL_DRIVERS_MISC_SUPPORT=y
+S:CONFIG_MVEBU_A3700_IO_ADDR_DEC=y
+S:CONFIG_MVEBU_MBUS=y
+S:CONFIG_MVEBU_MBUS_SPL_ONLY=y
CONFIG_MVEBU_ADVK_PCIE=y
CONFIG_CMD_BDI=y
CONFIG_CMD_SPI=y
CONFIG_CMD_BOOTD=y
CONFIG_CMD_RUN=y
CONFIG_CMD_EDITENV=y
CONFIG_CMD_SAVEENV=y
CONFIG_CMD_MEMORY=y
CONFIG_CMD_NET=y
CONFIG_CMD_PING=y
+S:CONFIG_OF_CONTROL=y
+S:CONFIG_OF_EMBED=y
+S:CONFIG_DEFAULT_DEVICE_TREE="armada-lp-palladium"
+S:CONFIG_MVEBU_COMPHY_SUPPORT=y
