CONFIG_SPL=y
CONFIG_SYS_EXTRA_OPTIONS="ARM64"
+S:CONFIG_ARM=y
+S:CONFIG_TARGET_ARMADA_8K=y
CONFIG_CMD_BOOTD=y
CONFIG_CMD_RUN=y
CONFIG_CMD_EDITENV=y
CONFIG_CMD_SAVEENV=y
CONFIG_CMD_MEMORY=y
CONFIG_CMD_MEMTEST=y
CONFIG_CMD_NET=y
CONFIG_CMD_PING=y
CONFIG_CMD_TIME=y
CONFIG_CMD_MISC=y
CONFIG_CMD_TIMER=y
CONFIG_CMD_MVEBU_MPP=y
CONFIG_CMD_MVEBU_BUBT=y
+S:CONFIG_OF_CONTROL=y
+S:CONFIG_OF_EMBED=y
+S:CONFIG_DEFAULT_DEVICE_TREE="armada-70x0-pd"
# CONFIG_MVEBU_PHY_INDIRECT is not set
CONFIG_MVEBU_CCU=y
CONFIG_MVEBU_IOB=y
CONFIG_MVEBU_RFU=y
+S:CONFIG_SYS_NS16550=y
CONFIG_MVEBU_SPI=y
CONFIG_MVEBU_PINCTL=y
CONFIG_MVEBU_MPP_BUS=y
+S:# CONFIG_MVEBU_SPL_DDR_SUPPORT is not set
+S:CONFIG_DEVEL_BOARD=y
# CONFIG_MVEBU_SAR is not set
+S:# CONFIG_MULTI_DT_FILE is not set
# CONFIG_MVEBU_LLC_ENABLE is not set
CONFIG_PALLADIUM=y
# CONFIG_MVEBU_TOOLS_SUPPORT is not set
