menu "DDR support"

config MVEBU_SPL_DDR_SUPPORT
	bool "DDR SPL support"
	depends on SPL
	default y
	help
	  Choose this option to add support
	  for DDR controllers driver. need to
	  choose one of the controllers in the
	  list below.

choice
	prompt "Controller static/dynamic select"

config MVEBU_STATIC_SUPPORT
	bool "Static DDR initialization"
	depends on MVEBU_SPL_DDR_SUPPORT
	help
	  Choose this option to add support
	  for static DDR initialization code,
	  init the DDR with out training.
	  to add this option to SPL code,
	  need to add +S:CONFIG_MVEBU_STATIC_SUPPORT to defconfig file

config MVEBU_DYNAMIC_SUPPORT
	bool "Dynamic DDR initialization"
	depends on MVEBU_SPL_DDR_SUPPORT
	help
	  Choose this option to add support
	  for dynamic DDR initialization code,
	  init the DDR with training.
	  to add this option to SPL code,
	  need to add +S:CONFIG_MVEBU_DYNAMIC_SUPPORT to defconfig file

endchoice

choice
	prompt "Controller select"

config MVEBU_DUNIT_SUPPORT
	bool "DUNIT controller support"
	depends on MVEBU_SPL_DDR_SUPPORT
	help
	  Choose this option to add support
	  for DUNIT controller.

config MVEBU_MK6_SUPPORT
	bool "MK6 controller support"
	depends on MVEBU_SPL_DDR_SUPPORT
	help
	  Choose this option to add support
	  for DDR code for MK6 controller
	  to add this option to SPL code,
	  need to add +S:CONFIG_MVEBU_MK6_SUPPORT to defconfig file

endchoice
endmenu
