menu "DDR support"

config MVEBU_SPL_DDR_SUPPORT
	bool "DDR SPL support"
	depends on SPL
	default y
	help
	  Choose this option to add support
	  for DDR controllers driver. need to
	  choose one of the controllers in the
	  list below.

choice
	prompt "Controller select"

config MVEBU_DUNIT_SUPPORT
	bool "DUNIT controller support"
	depends on MVEBU_SPL_DDR_SUPPORT
	help
	  Choose this option to add support
	  for DUNIT controller.

config MVEBU_MK6_STATIC_SUPPORT
	bool "MK6 static controller support"
	depends on MVEBU_SPL_DDR_SUPPORT
	help
	  Choose this option to add support
	  for static DDR training code for MK6 controller
	  to add this option to SPL code,
	  need to add +S:CONFIG_MVEBU_MK6_STATIC_SUPPORT to defconfig file

config MVEBU_MK6_DYNAMIC_SUPPORT
	bool "MK6 dynamic controller support"
	depends on MVEBU_SPL_DDR_SUPPORT
	help
	  Choose this option to add support
	  for dynamic DDR training code for MK6 controller
	  to add this option to SPL code,
	  need to add +S:CONFIG_MVEBU_MK6_DYNAMIC_SUPPORT to defconfig file

endchoice
endmenu
