menu "DDR support"

config MVEBU_SPL_DDR_SUPPORT
	bool "DDR SPL support"
	depends on SPL
	default y
	help
	  Choose this option to add support
	  for DDR controllers driver. need to
	  choose one of the controllers in the
	  list below.

choice
	prompt "Controller static/dynamic select"

config MVEBU_STATIC_SUPPORT
	bool "Static DDR initialization"
	depends on MVEBU_SPL_DDR_SUPPORT
	help
	  Choose this option to add support
	  for static DDR initialization code,
	  init the DDR with out training.
	  to add this option to SPL code,
	  need to add +S:CONFIG_MVEBU_STATIC_SUPPORT to defconfig file

config MVEBU_DYNAMIC_SUPPORT
	bool "Dynamic DDR initialization"
	depends on MVEBU_SPL_DDR_SUPPORT
	help
	  Choose this option to add support
	  for dynamic DDR initialization code,
	  init the DDR with training.
	  to add this option to SPL code,
	  need to add +S:CONFIG_MVEBU_DYNAMIC_SUPPORT to defconfig file

endchoice

choice
	prompt "Controller select"

config MVEBU_DUNIT_SUPPORT
	bool "DUNIT controller support"
	depends on MVEBU_SPL_DDR_SUPPORT
	help
	  Choose this option to add support
	  for DUNIT controller.

config MVEBU_MK6_SUPPORT
	bool "MK6 controller support"
	depends on MVEBU_SPL_DDR_SUPPORT
	help
	  Choose this option to add support
	  for DDR code for MK6 controller
	  to add this option to SPL code,
	  need to add +S:CONFIG_MVEBU_MK6_SUPPORT to defconfig file

config MVEBU_DLL_TUNE_SUPPORT
	  bool "Support for DDR DLL tune"
	  depends on MVEBU_MK6_SUPPORT
	  help
	  Choose this option to add support
	  for DDR DLL tune procedure support


endchoice

config MVEBU_SPL_DDR_OVER_PCI_SUPPORT
	bool "DDR over PCIE support in SPL"
	depends on SPL
	default n
	select MVEBU_PCI
	help
	  To add this option need to edit the defconfig and add the following line:
	  +S:CONFIG_MVEBU_SPL_DDR_OVER_PCI_SUPPORT=y
	  Choose this option to add support
	  for DDR over PCIE support

config MVEBU_SPL_DDR_OVER_PCI_SWITCH
	bool "DDR over PCIE switch support in SPL"
	depends on MVEBU_SPL_DDR_OVER_PCI_SUPPORT
	default n
	help
	  Support DDR over PCIe switch, this should be selected in case the DDR
	  PCIe addon card (PCAC) is located over a pcie switch (The first port of the
	  switch).
	  To add this option need to edit the defconfig and add the following line:
	  +S:CONFIG_MVEBU_SPL_DDR_OVER_PCI_SWITCH=y

config DDR_OVER_PCI_SIZE
	int "size of DDR over PCI"
	depends on MVEBU_SPL_DDR_OVER_PCI_SUPPORT
	default  536870912
	help
	  Defines the size of DRAM over
	  on the PCI endpoint. Relvant
	  only when DDR over PCI is
	  used.
endmenu
