if TARGET_ARMADA_8K

config SYS_CPU
	string
	default "armv8"

config SYS_BOARD
	string
	default "armada8k"

config SYS_VENDOR
	string
	default "mvebu"

config SYS_SOC
	string
	default "armada8k"

config SYS_CONFIG_NAME
	string
	default "armada8k"

config ARMV8_PSCI
	bool
	default y

config PALLADIUM
	bool "Support palladium emulation"
	default n

config MVEBU_LLC_ENABLE
	depends on TARGET_ARMADA_8K && !MVEBU_SPL_DDR_OVER_PCI_SUPPORT && !SPL_BUILD
	bool "Enable LLC support"
	default y
	help
	  Enable LLC in PSCI code

endif

