menu "block device drivers"
config MV_INCLUDE_SATA
	bool "Include driver for mvebu SATA device"
	default n
	help
	  Choose this option to enable
	  driver for mvebu SATA device,
	  which is standard ahci.c and
	  could be based on PCIe or SATA
	  controller.

config SCSI_AHCI_PLAT
	bool "SATA device based on controller"
	default n
	help
	  Choose this option to enable
	  the SATA device driver that
	  based on directly on SATA
	  controller.

config CP110_SATA_ADDR_WA
	bool "Enable CP-110 SATA address WA"
	default n
	help
	  Choose this option to enable
	  the SATA address WA for CP-110
	  it fixes the bad offset of the port
	  registers relative to general registers
endmenu
