menu "MVEBU commands"

config CMD_MVEBU_MISC
	bool "map, remap, units, ir"
	default y
	help
	  map   - Display address decode windows
	  remap - Remap the output address of a window
	  units	- Display and modify active units
	  ir    - Reading and changing internal register values

config CMD_MVEBU_SAR
	bool "SatR"
	depends on MVEBU_SAR
	default n
	help
	  SatR - Modify SOC's sample at reset (SAR) values

config CMD_MVEBU_CONFIG
	bool "config"
	depends on DEVEL_BOARD
	default n
	help
	  config - Modify SOC and board configuration

config CMD_MVEBU_MPP
	depends on (DEVEL_BOARD && MVEBU_MPP_BUS)
	bool "mpp, mppbus"
	default n
	help
	  mpp - Display or modify MPP values
	  mppbus - Display or modify MPP bus info

config CMD_MVEBU_BUBT
	bool "bubt"
	default n
	help
	  bubt - Burn a u-boot image to flash

config CMD_MVEBU_MSS_BOOT
	bool "mss_boot"
	depends on TARGET_ARMADA_8K
	default y
	help
	  mss_boot - Loads MSS code into CM3 ID RAM and release from reset

config CMD_MVEBU_TSEN
	bool "tsen"
	depends on MVEBU_THERMAL_SENSOR_28NM || MVEBU_THERMAL_SENSOR_28NM_V2
	default n
	help
	  tsen - Display the SoC temperature
	  as read from the on chip thermal sensor

endmenu
