menu "MVEBU commands"
depends on MVEBU

config CMD_MVEBU_MISC
	bool "map, remap, units, ir"
	default y
	help
	  map      - Display address decode windows
	  remap    - Remap the output address of a window
	  units	   - Display and modify active units
	  ir       - Reading and changing internal register values
	  resetenv - Reset the environment variables, and set to default

config CMD_MVEBU_SAR
	bool "SatR"
	depends on MVEBU_SAR
	default n
	help
	  SatR - Modify SOC's sample at reset (SAR) values

config CMD_MVEBU_FDT_CONFIG
	bool "fdt_config"
	depends on (DEVEL_BOARD && MULTI_DT_FILE)
	default n
	help
	  fdt_config - Modify SOC and board configuration

config CMD_MVEBU_MPP
	depends on (DEVEL_BOARD && MVEBU_MPP_BUS)
	bool "mpp, mppbus"
	default n
	help
	  mpp - Display or modify MPP values
	  mppbus - Display or modify MPP bus info

config CMD_MVEBU_BUBT
	bool "bubt"
	default n
	help
	  bubt - Burn a u-boot image to flash

config CMD_MVEBU_MSS_BOOT
	bool "mss_boot"
	depends on TARGET_ARMADA_8K
	default y
	help
	  mss_boot - Loads MSS code into CM3 ID RAM and release from reset

config CMD_MVEBU_TSEN
	bool "tsen"
	depends on MVEBU_THERMAL_SENSOR_28NM || MVEBU_THERMAL_SENSOR_28NM_V2
	default n
	help
	  tsen - Display the SoC temperature
	  as read from the on chip thermal sensor

config CMD_MVEBU_PHY_FW_DOWNLOAD
	bool "phy_fw_down"
	depends on MVEBU_MDIO
	default n
	help
	  phy_fw_down - this command download
	  PHY firmware header to the PHY flash
	  this command used for Marvell PHYs
	  88X3220/88X3310

config CMD_MVEBU_PHY_INDIRECT
	bool "phy_indirect"
	depends on MVEBU_PHY_INDIRECT
	default y
	help
	  phy_indirect - Access to PHY indirect registers

config CMD_MVEBU_HW_INFO
	bool "hw_info"
	depends on DEVEL_BOARD
	select BOARD_CONFIG_EEPROM
	default n
	help
	  hw_info - load HW information such as board ID, PCB SLM number,
	  MAC addresses from EEPROM and apply them to enviroment variables.
	  And update the MAC address in FDT file for Linux.
	  When save the box information, it will be saved to EEPROM.

config CMD_MVEBU_EFUSE
	bool "efuse"
	depends on MVEBU_EFUSE_SUPPORT
	default n
	help
	  eFuse - allow access to SoC eFuse (OTP) entries

endmenu
